game *{
    display: block;
    font-family: 'Open Sans', sans-serif;
}

@page { size: landscape; }

game *{
    display: block;
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
}

backgroundLocation{
    position: absolute;
    top:0px; 
    left:0;
    width:100vw; 
    height:100vh;
    background-size: 120% 120%;
    background-position: center;
    background-repeat: no-repeat;
}

educationsetter{
    position: absolute;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vw;
    width:40vw;
    height:60vh;
    top:20vh;
    left:28vw;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
    background-color: #ffb911;
    border-radius: 1vh;
}

educationsetter button{
    background-color: #ffb911;
    border: solid black 3px;
    font-weight: bolder;
    border-radius: 3px;
    width:40%;
    height:3vw;    
    left:calc(30% - 6px);
    top:70%;
    cursor: pointer;
}

educationsetter select{
    position:absolute;
    width:90%;
    height:2vw;
    top:50%;    
    left:5%;
    border-radius: 10px;
    border:none;
    box-shadow: 3px 3px gray inset;
    padding-top:3px;
    padding-left:3px;
    cursor: pointer;
}

backgroundact1 {
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left:0; top:0;
}

backgroundOnline {
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    left:0; top:0;
    background-color: #f8f5ee;
    background-image: url(../assets/floormap.png)
}

endPopup{
    text-align:center;
    position: absolute;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vw;
    width:90vw;
    height:80vh;
    top:5vh;
    left:3vw;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
    background-color: #ffb911;
    border-radius: 1vh;
    z-index:10;
}

youWon{
    font-size: 8vh;
}

subTitle{
    font-size: 1.1rem;
    text-align: left;
}

finalScore{
    font-size: 5vh;
}

endPopup button{
    position: absolute;
    width: 80%;
    height: 20%;
    transform:translate(calc(10% - 1vw), 30%);
}

onlinePopup{
    position: absolute;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vw;
    padding-bottom:15vh;
    width:30vw;
    height:auto;
    top:20vh;
    left:33vw;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
    background-color: #ffb911;
    border-radius: 1vh;
    z-index:10;
}

.studentenPas{
    height:60vh;
    width:auto;
    transform:translate(22.3vw, 21vh);
    cursor:pointer;
}
.vorm1{
    position:absolute;
    height:10vh;
    width:5vw;
    transform:translate(30.9vw, 39vh);
    cursor:pointer;
    padding:5px;
}

.vorm2{
    position:absolute;
    height:10vh;
    width:5vw;
    transform:translate(47.5vw, 39vh);
    cursor:pointer;
    padding:5px;
}

.vorm3{
    position:absolute;
    height:10vh;
    width:5vw;
    transform:translate(63.8vw, 39vh);
    cursor:pointer;
    padding:5px;
}

wrong{
    color:red;
    text-align:center;
    top:57vh;
    position:absolute;
    width:100vw;
    text-align:center
}

onlinePopup *{
    width:100%;
    text-align: center;
}

onlinePopup button{
    background-color: #ffb911;
    border: solid black 3px;
    font-weight: bolder;
    border-radius: 3px;
    width:40%;
    height:3vw;    
    left:30%;
    top:65%;
    cursor: pointer;
}

popupTitle{
    font-size:4vh;
    padding-bottom: 3vh;
}




.inputShape{
    width:13.7vw;
    height:5.7vh;
    border-radius: 25px;
    border:none;
    font-size:20px;
    padding-left:1vw;
    text-transform: uppercase;

}

.verzenden{
    background-color: #ffb911;
    border: solid black 3px;
    font-weight: bolder;
    border-radius: 5px;
}

banner{
    top:0;
    left:0;
    position: absolute;
    width:100vw;
    height:13vh;
    background-image:url(../assets/banner.png);
    background-size: 100% 100%;
}

act1Box{
    background-color: #ffb911;
    width:50vw;
    height:40vh;
    left:23vw;
    top:23vh;
    border-radius: 15px;
    position: absolute;
    padding: 4vh;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
}

.search{
    background-color: #ffb911;
    border: none;
}

line{
    border: 1px solid red;
    height: 1px;
    background-color: red;
    position: absolute;
}

backgroundact2, act2background{
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-image: url(../assets/PRODUCTION/PRODUCTION/ASSETS/act_2_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    left:0; top:0;
}

backgroundact3 {
    position: absolute;
    width: 100vw; height: 100vh;
    z-index:-1;
    background-image: url(../assets/Akte3/backgroundact3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left:0; top:0;
}

background {
    position: absolute;
    width: 100vw; height: 100vh;
    z-index:-1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left:0; top:0;
}

#backToLocatie{
    width: 9vw;
    height: 7.6vh;
    transform: translate(91vw, 0vh);
    opacity: 0;
}

classroom {
    position: absolute;
}
openfolder {
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;

}
doorName, folderitem {
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}
signin{
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 10px;
}
hinticon{
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../assets/Akte2/envelope.png);
}
hintbox{
    position: absolute;
    z-index: 4;
}
input:focus{
    outline:none;
}
input{
    position:absolute;
}

backgroundenter, folderbackground{
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 120%;
    left:0;
    top:0;
}

video{
    position: absolute;
    width:100vw; height:100vh;
}
videoBackground{
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button{
    position: absolute;
    cursor:pointer;
}

pinPopup {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 21vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
    background-color: #ffb911;
    position: absolute;
    width: 50vw; height: auto;
    z-index: 4;
    font-size: 1rem;
    top: -2vh
}

@media (min-height: 930px) {
    pinPopup{
        width:30vw;
        left: 10vw;
    }
}

pinPopupImage{
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 100%; height: 20vh;
    left: 0; top: 0;
    border-radius: 1vh;
    position: absolute;
}

pin{
    background-image: url(../assets/PRODUCTION/PRODUCTION/ASSETS/locationpin.png);
    background-position: center;
    background-size: 100% 100%;
    width:3vh;
    height:3vh;
    position: absolute;
}

pin:hover{
    height:7vh;
    width:7vh;
    margin-top:-4vh;
    margin-left:-2vh;
    
    transition:1s;
}


popuplocation{
    background-color:  #ffb911;
    position: absolute;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:36vh;
    width:20vw;
    height:30vh;
    top:20vh;
    left:38vw;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px;
    font-size:1rem;
}

popuplocation button{
    background-color:  #ffb911;
    border: solid black 3px;
    font-weight: bolder;
    border-radius: 3px;
    width:40%;    
    left:30%;
    bottom:5%;
    cursor: pointer;
}

locationimage{
    position:absolute;
    width: 100%;
    height:50%;
    background-size:100% 100%;
    left:0;
    top:0;
    border-radius: 1vh;
}

map{
    position:absolute;
    background-image: url(../assets/PRODUCTION/PRODUCTION/ASSETS/map.png);
    background-size: 100% 100%;
    background-position: center;
    width:74.1vw;
    height:73.3vh;
    top:17.6vh;
    left:12.9vw;
}

startgame{
    width:14.9vw;
    height:9.8vh;
    top:21.6vh;
    left:31.6vw;
    position: absolute;
    cursor: pointer;
}

next{
    width:15vw;
    height:2.8vw;
    padding-top: 1vh;
    top:9vw;
    left:9.5vw;
    position: absolute;
    background-color: #ffb911;
    border-radius: 15px;
    text-align: center;
    font-size:2.0vw;
    border: solid black 0.2vw;
    filter: grayscale(100%);
}

locationTekst{
    position:absolute;
    text-align:center;
    width:100vw;
    top:10vh;
}

languagePicker{
    width:40vw;
    top:60%;
    text-align:center;
    position:absolute;
}

languagePicker button{
    position:relative;
    margin-top:0.5vh;
}

congratulations{
    position: absolute;
    top:5vh;
    width:100%;
    text-align:center;
    font-size: 10vh;
    background-color: #ffb911;
    padding-bottom:1vh;
}

akteGehaald{
    text-align:center;
    font-size:3vh;
}

pauseMessage{
    padding:2vw;
    text-align:center;
    position: absolute;
    background-color: #ffb911;
    border-radius: 15px;
    width:30vw;
    left:33vw;
    top:30vh;
    height:22.5vw;
    font-size: 1.4vw;
}