*{
    font-family: Arial;
}

body{
    margin:0;
    padding:0;
}

backgroundLocation{
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-image: url(..//assets/backgroundact1main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left:0; top:0;
}
input:focus{
    outline:none;
}

backgroundenter {
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    left:0;
    top:0;
}

backgroundact1 {
    position: absolute;
    width:100vw; height:100vh;
    z-index: -1;
    background-image: url(..//assets/backgroundact1main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left:0; top:0;
}

button{
    position: absolute;
}