backgroundact1 {
    position: absolute;
<<<<<<< HEAD
    width:100vw; height:100vh;
    z-index: -1;
    background-image: url(..//assets/backgroundact1main.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    left:0; top:0;
=======
}

* {
    position: absolute;
>>>>>>> 2e135169887be6050e1cfec0c910518be40f097e
}